/* line 6, ../sass/screen.scss */
html {
  background: #e3e3e3;
}

/* line 9, ../sass/screen.scss */
body {
  margin: 0;
  font-family: sans-serif;
  background: #e3e3e3;
  /*	background: -webkit-gradient(
  		linear,
  		left top, left bottom,
  		from(#c5c5c5),
  		to(#e3e3e3)
  	);*/
  font-size: 14px;
}

/* line 23, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 27, ../sass/screen.scss */
.container {
  width: 960px;
  position: relative;
  margin: auto;
  clear: both;
  overflow: hidden;
}

/* line 35, ../sass/screen.scss */
h1 {
  color: white;
  margin-top: 0;
}

/* line 39, ../sass/screen.scss */
h2 {
  font-family: 'Maiden Orange';
  font-size: 35px;
  margin-bottom: .5em;
  margin-top: 0;
  color: #342921;
}

/* line 47, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 51, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 55, ../sass/screen.scss */
a img {
  border: none;
}

/* HTML5 Stuff */
/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Header */
/* line 64, ../sass/screen.scss */
.header {
  background: #342921;
  height: 47px;
  margin-bottom: 70px;
  border-bottom: 1px solid #f8f8f8;
}

/* line 70, ../sass/screen.scss */
header {
  width: 960px;
  margin: auto;
}

/* line 75, ../sass/screen.scss */
header h1 {
  float: left;
}

/* line 80, ../sass/screen.scss */
header h1 > a {
  float: left;
  position: relative;
  top: 20px;
}

/* line 86, ../sass/screen.scss */
header:after {
  content: '';
  display: block;
  clear: both;
  height: 1%;
  visibility: hidden;
}

/* line 94, ../sass/screen.scss */
header a {
  color: white;
}

/* line 98, ../sass/screen.scss */
.add_post, h1 span a {
  padding-top: 15px;
  top: 9px;
  font-size: 13px;
  position: relative;
  font-family: sans-serif;
  top: -4px;
  color: #A1917B;
}

/* line 108, ../sass/screen.scss */
h1 span {
  font-weight: normal;
  float: right;
}

/* line 111, ../sass/screen.scss */
.add_post:before {
  content: '--';
}

/* Stats */
/* line 116, ../sass/screen.scss */
dl, dt, dd {
  margin: 0;
  padding: 0;
}

/* line 121, ../sass/screen.scss */
dt, dd {
  display: inline;
}

/* line 126, ../sass/screen.scss */
header dl {
  float: right;
  font-size: 11px;
  color: white;
  margin-top: 17px;
}

/* line 133, ../sass/screen.scss */
dt {
  font-weight: bold;
}

/* line 137, ../sass/screen.scss */
dt:after {
  content: ':';
}

/* line 141, ../sass/screen.scss */
dd {
  margin-right: 8px;
  padding-right: 8px;
  color: #A1917B;
}

/* line 147, ../sass/screen.scss */
dd:last-child {
  margin-right: 0;
  padding-right: 0;
}

/* Table */
/* line 153, ../sass/screen.scss */
table {
  width: 100%;
  background: #e3e3e3;
  border: 1px solid white;
  position: relative;
  border-collapse: collapse;
}

/* line 161, ../sass/screen.scss */
thead tr {
  color: white;
  height: 35px;
  background: #342921;
}

/* line 168, ../sass/screen.scss */
td {
  width: 200px;
  padding: .5em 1.5em;
}

/* line 174, ../sass/screen.scss */
td a {
  color: black;
}

/* line 178, ../sass/screen.scss */
th {
  text-align: left;
  padding: .5em 1.5em;
  color: white;
  font-weight: normal;
}

/* line 185, ../sass/screen.scss */
th a {
  color: white;
  cursor: pointer;
}

/* line 189, ../sass/screen.scss */
.title {
  width: 400px;
}

/* line 193, ../sass/screen.scss */
.cost {
  width: 60px;
}

/* line 197, ../sass/screen.scss */
.cost:before {
  content: '$';
  margin-right: -3px;
}

/* line 202, ../sass/screen.scss */
.post_type {
  width: 100px;
  text-transform: uppercase;
}

/* line 207, ../sass/screen.scss */
.date {
  width: 80px;
}

/* line 211, ../sass/screen.scss */
tr.premium {
  background: #d95f00;
}

/* line 215, ../sass/screen.scss */
tr.quick_tip {
  background: #58aa9c;
}

/* line 221, ../sass/screen.scss */
tr.regular {
  background: #e3e3e3;
  border-top: 1px solid white;
  border-bottom: 1px solid #c5c3c3;
}

/* line 227, ../sass/screen.scss */
tr.basix {
  background: #e9eb48;
}

/* line 231, ../sass/screen.scss */
.options li {
  float: left;
  list-style: none;
  font-weight: bold;
  position: relative;
  margin-right: 5px;
}

/* line 239, ../sass/screen.scss */
.options {
  width: 60px;
}

/* line 242, ../sass/screen.scss */
.options ul {
  padding: 0;
  margin: 0;
  position: relative;
  top: -4px;
}

/* line 249, ../sass/screen.scss */
.options a {
  display: block;
}

/* line 253, ../sass/screen.scss */
.update_row {
  background: url(../img/icons.png) no-repeat -103px;
}

/* line 258, ../sass/screen.scss */
.delete_row {
  background: url(../img/icons.png) no-repeat -78px;
}

/* line 262, ../sass/screen.scss */
.icon {
  text-indent: -9999px;
  width: 24px;
  height: 25px;
  position: relative;
}

/* line 269, ../sass/screen.scss */
.filter {
  float: right;
  position: relative;
  margin-top: -40px;
}

/* line 275, ../sass/screen.scss */
.filter h4 {
  display: inline;
}

/* line 279, ../sass/screen.scss */
.total {
  background: #292929;
  color: white;
}

/* Form */
/* line 284, ../sass/screen.scss */
label {
  display: block;
}

/* line 286, ../sass/screen.scss */
.errors {
  color: red;
}

/* Overlay for Add Post */
/* line 292, ../sass/screen.scss */
.overlay {
  background: rgba(255, 255, 255, 0.95);
  padding: 2em;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 470px;
  left: 50%;
  top: 30px;
  margin-left: -235px;
  -moz-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.7);
}

/* line 306, ../sass/screen.scss */
.close {
  background: url(../img/icons.png) no-repeat -51px;
  display: block;
  position: absolute;
  top: 4px;
  right: -12px;
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

/* Form */
/* line 323, ../sass/screen.scss */
textarea {
  height: 100px;
}

/* line 328, ../sass/screen.scss */
input[type=text], textarea,
input[type=password] {
  width: 450px;
  border: 1px solid #e3e3e3;
  padding: 6px;
  margin-top: 5px;
}

/* Filtering */
/* line 338, ../sass/screen.scss */
#filter_month {
  display: none;
}

/* Admin */
/* line 345, ../sass/screen.scss */
.admin_form {
  position: relative;
  padding: 0;
  width: 500px;
  margin: 0 auto;
  display: none;
  /* shown with JS */
}

/* line 353, ../sass/screen.scss */
.no-js .admin_form {
  display: block;
}

/* line 357, ../sass/screen.scss */
.admin_form form {
  background: #e3e3e3;
  border: 1px solid white;
  outline: 1px solid #c5c5c5;
  margin-top: 20px;
}

/* line 364, ../sass/screen.scss */
.admin_form label {
  text-shadow: 0 1px 0 white;
  color: #342921;
}

/* line 369, ../sass/screen.scss */
.admin_form h1 {
  background: #342921;
  font-family: 'Maiden Orange';
  color: white;
  padding: 10px 25px 5px;
  border-bottom: 1px solid white;
}

/* line 377, ../sass/screen.scss */
.admin_form p {
  margin-left: 25px;
  margin-right: 25px;
}

/* line 382, ../sass/screen.scss */
.admin_form input[type=text],
.admin_form input[type=password] {
  width: 97%;
}

/* line 387, ../sass/screen.scss */
.admin_form input[type=submit],
a.button {
  background: #342921;
  color: white;
  padding: 8px;
  border: none;
  border-top: 1px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
}

/* line 402, ../sass/screen.scss */
.admin_form input[type=submit]:hover,
.admin_form input[type=submit]:active,
.button:hover {
  background: #4c3a2c;
  text-decoration: none;
}

/* line 407, ../sass/screen.scss */
.config_form p span {
  font-size: 12px;
  font-weight: bold;
}

/* line 412, ../sass/screen.scss */
.config_form textarea {
  height: 250px;
  width: 97%;
}

/* line 417, ../sass/screen.scss */
.config_form label {
  display: inline;
}

/* line 421, ../sass/screen.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

/* Footer */
/* line 429, ../sass/screen.scss */
.footer_options {
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

/* line 435, ../sass/screen.scss */
.footer_options a {
  font-size: 12px;
  line-height: 9px;
  text-transform: lowercase;
}

/* line 441, ../sass/screen.scss */
.footer_options li {
  float: left;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
  border-right: 1px solid #666;
  border-left: 1px solid white;
}

/* line 451, ../sass/screen.scss */
.footer_options li:last-child {
  border-right: none;
  padding-right: 0;
}

/* line 456, ../sass/screen.scss */
.footer_options li:first-child {
  border-left: none;
  padding-left: 0;
}
